:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    230,229,227;
    --color-neutral-300:    194,190,187;
    --color-neutral-400:    158,151,147;
    --color-neutral-500:    120,113,108;
    --color-neutral-600:    99,93,89;
    --color-neutral-700:    77,73,69;
    --color-neutral-800:    56,52,50;
    --color-neutral-900:    34,32,31;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    244,193,194;
    --color-primary-300:    233,128,130;
    --color-primary-400:    221,63,66;
    --color-primary-500:    177,31,34;
    --color-primary-600:    142,25,27;
    --color-primary-700:    108,19,21;
    --color-primary-800:    73,13,14;
    --color-primary-900:    38,7,7;
    --color-secondary-50:     243,215,216;
    --color-secondary-100:    226,156,157;
    --color-secondary-200:    209,96,99;
    --color-secondary-300:    178,51,54;
    --color-secondary-400:    118,34,36;
    --color-secondary-500:    59,17,18;
    --color-secondary-600:    27,8,8;
    --color-secondary-700:    0,0,0;
    --color-secondary-800:    0,0,0;
    --color-secondary-900:    0,0,0;
    }